@page "/books/edit"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Administrator")]
@inject BookService BookService
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment Environment

<PageTitle>Изменить</PageTitle>

<h1>Изменить</h1>

<h2>Книги</h2>
<hr />
@if (Book is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Book" OnValidSubmit="UpdateBook" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="Book.BookId" value="@Book.BookId" />
                <div class="mb-3">
                    <label for="title" class="form-label">Название:</label>
                    <InputText id="title" @bind-Value="Book.Title" class="form-control" />
                    <ValidationMessage For="() => Book.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Автор:</label>
                    <InputText id="author" @bind-Value="Book.Author" class="form-control" />
                    <ValidationMessage For="() => Book.Author" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="zhanr" class="form-label">Жанр:</label>
                    <InputText id="zhanr" @bind-Value="Book.Genre" class="form-control" />
                    <ValidationMessage For="() => Book.Genre" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="opisanie" class="form-label">Описание:</label>
                    <InputTextArea id="opisanie" @bind-Value="Book.Description" class="form-control" />
                    <ValidationMessage For="() => Book.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Цена:</label>
                    <InputNumber id="price" @bind-Value="Book.Price" class="form-control" />
                    <ValidationMessage For="() => Book.Price" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="kolvonasklade" class="form-label">Количество на складе:</label>
                    <InputNumber id="kolvonasklade" @bind-Value="Book.AvailableCount" class="form-control" />
                    <ValidationMessage For="() => Book.AvailableCount" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Изображение книги:</label>
                    <InputFile id="image" OnChange="HandleImageFile" class="form-control" accept="image/*" />
                    <ValidationMessage For="() => Book.ImageFileName" class="text-danger" />

                    @if (!string.IsNullOrEmpty(Book.ImageFileName))
                    {
                        <div class="mt-2">
                            <img src="@imagePreview" class="img-thumbnail" style="max-height: 200px;" />
                            <button type="button" class="btn btn-sm btn-danger mt-2" @onclick="DeleteImage">
                                Удалить изображение
                            </button>
                        </div>
                    }
                </div>

                <button type="submit" class="btn btn-primary">Сохранить</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/books">Назад к списку книг</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int BookId { get; set; }

    [SupplyParameterFromForm]
    private Book? Book { get; set; }

    private string? imagePreview;

    protected override async Task OnInitializedAsync()
    {
        Book ??= await BookService.FindByIdAsync(BookId);

        if (Book is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task HandleImageFile(InputFileChangeEventArgs e)
    {
        if (e.File != null/*  && e.File.Size < 150000 */) // Ограничение 150KB
        {
            using var stream = new MemoryStream();
            await e.File.OpenReadStream().CopyToAsync(stream);
            Book.ImageData = stream.ToArray();
            Book.ImageFileName = e.File.Name;
            imagePreview = $"data:{e.File.ContentType};base64,{Convert.ToBase64String(Book.ImageData)}";
        }
    }

    private void DeleteImage()
    {
        var filePath = Path.Combine(Environment.WebRootPath, "uploads", "books", Book!.ImageFileName!);
        if (File.Exists(filePath))
        {
            File.Delete(filePath);
        }
        Book.ImageFileName = null;
    }

    private async Task UpdateBook()
    {
        try
        {
            await BookService.UpdateAsync(Book);
        }
        catch (NotFoundException)
        {
            NavigationManager.NavigateTo("notfound");
        }
        NavigationManager.NavigateTo("/books");
    }
}